{% extends "travel/base.html" %}

{% block title %}
    Flight {{ flight.id }}
{% endblock %}

{% block body %}
    <h1>Flight Number: {{ flight.id }}</h1>
    <ul class="list-unstyled">
        <li>Origin: {{ flight.origin }}</li>
        <li>Destination:  {{ flight.destination }}</li>
        <li>
            Passengers:
            <ul>
                {% for passenger in passengers %}
                    <li>{{ passenger }}</li>
                {% empty %}
                    <li>No passengers</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    {% if non_passengers %}
        <h2>Add a Passenger</h2>
        <form action="{% url 'book' flight.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <select class="form-control"name="passenger">
                    <option> Select...</option>
                    {% for passenger in non_passengers %}
                        <option value="{{ passenger.id }}">{{ passenger }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Book Flight" />
            </div>
        </form>
    {% else %}
        <div>No passengers to add.</div>
    {% endif %}
    <a href="{% url 'index' %}" class="mt-5">Back to full listing.</a>
{% endblock %}
